integration/src/test/resources/org/mule/test/el/expression-language-concurrency-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <!-- TODO MULE-11351 Rework ring-buffer based processing strategy implementations for stream approach -->
    <flow name="slowRequestHandler">
        <set-payload value="#[java!org::mule::test::el::ExpressionLanguageConcurrencyTestCase::sleep(2000)]" />
        <set-payload value="Slow Response" />
    </flow>

</mule>
