integration/src/test/resources/org/mule/test/el/expression-language-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:test="http://www.mulesoft.org/schema/mule/test"
    xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
    xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <configuration>
        <expression-language autoResolveVariables="false">
            <import name="loc" class="java.util.Locale" />
            <import class="org.apache.commons.lang3.StringUtils" />
            <import class="java.text.DateFormat" />
            <alias name="appName" expression="app.name" />
        </expression-language>
    </configuration>

    <flow name="flow">
        <test:assert expression="#[mel:loc.getName().equals('java.util.Locale')]" />
    </flow>

</mule>
