integration/src/test/resources/org/mule/test/construct/flow-outbound-in-middle-of-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="flowTest">

        <set-payload value="#[payload ++ 'hello']"/>

        <test:queue name="test.out.1" />

        <set-payload value="#[payload replace 'hello' with 'bye']"/>

        <test:queue name="test.out.2" />
        
        <set-payload value="#[payload replace 'bye' with '']"/>
        <set-payload value="#[payload[-1 to 0]]"/>
            
        <test:queue name="test.out.3" />

    </flow>

</mule>
