integration/src/test/resources/org/mule/test/construct/sub-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="SubFlowViaProcessorRef">
        <set-payload value="#[payload ++ '1']"/>
        <processor ref="sub-flow"/>
        <set-payload value="#[payload ++ '2']"/>
    </flow>

    <flow name="SubFlowViaFlowRef">
        <set-payload value="#[payload ++ '1']"/>
        <flow-ref name="sub-flow"/>
        <set-payload value="#[payload ++ '2']"/>
    </flow>

    <flow name="FlowViaFlowRef">
        <set-payload value="#[payload ++ '1']"/>
        <flow-ref name="childFlow"/>
        <set-payload value="#[payload ++ '2']"/>
    </flow>

    <flow name="ServiceViaFlowRef">
        <set-payload value="#[payload ++ '1']"/>
        <flow-ref name="service"/>
        <set-payload value="#[payload ++ '2']"/>
    </flow>

    <flow name="flowWithsubFlowWithComponent">
        <flow-ref name="subFlowWithComponent"/>
    </flow>

    <sub-flow name="subFlowWithComponent">
        <logger/>
    </sub-flow>

    <flow name="flowWithSameSubFlowTwice">
        <flow-ref name="sub-flow"/>
        <flow-ref name="sub-flow"/>
    </flow>

    <flow name="flowWithSameSubFlowSingletonTwice">
        <flow-ref name="sub-flow-singleton"/>
        <flow-ref name="sub-flow-singleton"/>
    </flow>

    <flow name="flowWithSameGlobalChainTwice">
        <flow-ref name="chain"/>
        <flow-ref name="chain"/>
    </flow>

    <flow name="flowWithSameGlobalChainSingletonTwice">
        <flow-ref name="chain-singleton"/>
        <flow-ref name="chain-singleton"/>
    </flow>

    <!-- Child flows/sub-flows -->

    <sub-flow name="chain">
        <test:lifecycle-tracker/>
        <set-payload value="#[payload ++ 'x']"/>
        <set-payload value="#[payload ++ 'y']"/>
        <set-payload value="#[payload ++ 'z']"/>
        <logger/>
    </sub-flow>

    <sub-flow name="chain-singleton">
        <test:lifecycle-tracker/>
        <set-payload value="#[payload ++ 'x']"/>
        <set-payload value="#[payload ++ 'y']"/>
        <set-payload value="#[payload ++ 'z']"/>
        <test:lifecycle-tracker-check/>
    </sub-flow>

    <sub-flow name="sub-flow">
        <test:lifecycle-tracker/>
        <set-payload value="#[payload ++ 'x']"/>
        <set-payload value="#[payload ++ 'y']"/>
        <set-payload value="#[payload ++ 'z']"/>
        <logger/>
    </sub-flow>

    <flow name="childFlow">
        <test:lifecycle-tracker/>
        <set-payload value="#[payload ++ 'x']"/>
        <set-payload value="#[payload ++ 'y']"/>
        <set-payload value="#[payload ++ 'z']"/>
        <logger/>
    </flow>

    <sub-flow name="sub-flow-singleton">
        <test:lifecycle-tracker/>
        <set-payload value="#[payload ++ 'x']"/>
        <set-payload value="#[payload ++ 'y']"/>
        <set-payload value="#[payload ++ 'z']"/>
        <test:lifecycle-tracker-check/>
    </sub-flow>

    <flow name="service">
        <test:processor appendString="xyz"/>
    </flow>

</mule>
