soap-connect/src/test/resources/soap-football-extension-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:soap="http://www.mulesoft.org/schema/mule/soap"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/soap http://www.mulesoft.org/schema/mule/soap/current/mule-soap.xsd">


    <soap:config name="leagues">
        <soap:base-connection leaguesAddress="${footballAddress}" laLigaAddress="${laLigaAddress}?wsdl"/>
    </soap:config>

    <soap:config name="laLiga">
        <soap:la-liga-connection wsdlLocation="${laLigaAddress}?wsdl" firstDivision="A" secondDivision="B"/>
    </soap:config>

    <flow name="getLeagues">
        <logger message="#[payload]" level="ERROR"/>
        <soap:invoke config-ref="leagues" service="leagues" operation="getLeagues">
            <soap:message>
                <soap:body>#[payload]</soap:body>
            </soap:message>
        </soap:invoke>
        <set-payload value="#[%dw 2.0 output application/java --- payload.body.^raw as String]"/>
    </flow>

    <flow name="getBestLeague">
        <logger message="#[payload]" level="ERROR"/>
        <soap:invoke config-ref="leagues" service="leagues" operation="getBestLeague"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.body.^raw as String]"/>
    </flow>

    <flow name="getBestLeagueWithExplicitMessage">
        <logger message="#[payload]" level="ERROR"/>
        <soap:invoke config-ref="leagues" service="leagues" operation="getBestLeague">
            <soap:message/>
        </soap:invoke>
        <set-payload value="#[%dw 2.0 output application/java --- payload.body.^raw as String]"/>
    </flow>

    <flow name="getLeagueTeamsWithImplicitBody">
        <soap:invoke config-ref="leagues" service="leagues" operation="getLeagueTeams">
            <soap:message>
                <soap:headers>
                    #[
                    %dw 2.0
                    output application/xml
                    ns con http://services.connect.soap.it.mule.org/
                    ---
                    "headers": {
                    con#auth: "Authorized"
                    }]
                </soap:headers>
            </soap:message>
        </soap:invoke>
        <set-payload value="#[%dw 2.0 output application/java --- payload.body.^raw as String]"/>
    </flow>

    <flow name="getPresidentInfo">
        <soap:invoke config-ref="leagues" service="leagues" operation="getPresidentInfo"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.body.^raw as String]"/>
    </flow>

    <flow name="invalidKey">
        <soap:invoke config-ref="leagues" service="leagues" operation="invalidKey"/>
        <set-payload value="#[%dw 2.0 output application/java --- payload.body.^raw as String]"/>
    </flow>

    <flow name="getTeams">
        <soap:invoke config-ref="laLiga" service="A" operation="getTeams">
            <soap:message>
                <soap:body>#[payload]</soap:body>
            </soap:message>
        </soap:invoke>
        <set-payload value="#[%dw 2.0 output application/java --- payload.body.^raw as String]"/>
    </flow>

    <flow name="getLeagueTeams">
        <soap:invoke config-ref="leagues" service="leagues" operation="getLeagueTeams">
            <soap:message>
                <soap:body>#[payload]</soap:body>
                <soap:headers>
                    #[
                    %dw 2.0
                    output application/xml
                    ns con http://services.connect.soap.it.mule.org/
                    ---
                    "headers": {
                    con#auth: "Authorized"
                    }]
                </soap:headers>
            </soap:message>
        </soap:invoke>
        <set-payload value="#[%dw 2.0 output application/java --- payload.body.^raw as String]"/>
    </flow>

    <flow name="uploadResult">
        <soap:invoke config-ref="laLiga" service="A" operation="uploadResult">
            <soap:message>
                <soap:body>#[payload]</soap:body>
                <soap:attachments>#[{result: vars.att}]</soap:attachments>
            </soap:message>
        </soap:invoke>
        <set-payload value="#[%dw 2.0 output application/java --- payload.body.^raw as String]"/>
    </flow>
</mule>
