integration/src/test/resources/org/mule/test/integration/notifications/flow-stack-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <object name="flowStackAsserter" class="org.mule.tck.util.FlowTraceUtils$FlowStackAsserter" />
    <object name="flowStackAsserter2" class="org.mule.tck.util.FlowTraceUtils$FlowStackAsserter" />
    <object name="flowStackAsyncAsserter" class="org.mule.tck.util.FlowTraceUtils$FlowStackAsyncAsserter" />
    <object name="flowStackAsyncAsserter2" class="org.mule.tck.util.FlowTraceUtils$FlowStackAsyncAsserter" />

    <sub-flow name="subFlow">
        <flow-ref name="flowStackAsserter"/>
    </sub-flow>
    
    <flow name="flow">
        <flow-ref name="flowStackAsserter2"/>
    </flow>

    <flow name="flowStatic" initialState="stopped">
        <flow-ref name="flow"/>
    </flow>

    <flow name="subFlowStatic" initialState="stopped">
        <flow-ref name="subFlow"/>
    </flow>

    <flow name="flowDynamic" initialState="stopped">
        <flow-ref name="#['flow']"/>
    </flow>

    <flow name="subFlowDynamic" initialState="stopped">
        <flow-ref name="#['subFlow']"/>
    </flow>

    <flow name="secondFlowStatic" initialState="stopped">
        <flow-ref name="flow"/>
        <flow-ref name="flow"/>
    </flow>

    <flow name="secondSubFlowStatic" initialState="stopped">
        <flow-ref name="subFlow"/>
        <flow-ref name="subFlow"/>
    </flow>

    <flow name="secondFlowDynamic" initialState="stopped">
        <flow-ref name="#['flow']"/>
        <flow-ref name="#['flow']"/>
    </flow>

    <flow name="secondSubFlowDynamic" initialState="stopped">
        <flow-ref name="#['subFlow']"/>
        <flow-ref name="#['subFlow']"/>
    </flow>

    <!-- Async -->
    
    <sub-flow name="subFlowInAsync">
        <flow-ref name="flowStackAsyncAsserter"/>
    </sub-flow>
    
    <flow name="flowInAsync">
        <flow-ref name="flowStackAsyncAsserter2"/>
    </flow>
    
    <flow name="flowStaticWithAsync" initialState="stopped">
        <async>
            <flow-ref name="flowInAsync"/>
        </async>
    </flow>

    <flow name="subFlowStaticWithAsync" initialState="stopped">
        <async>
            <flow-ref name="subFlowInAsync"/>
        </async>
    </flow>

    <flow name="flowDynamicWithAsync" initialState="stopped">
        <async>
            <flow-ref name="#['flowInAsync']"/>
        </async>
    </flow>

    <flow name="subFlowDynamicWithAsync" initialState="stopped">
        <async>
            <flow-ref name="#['subFlowInAsync']"/>
        </async>
    </flow>
    
    <!-- Choice -->
    
    <flow name="flowStaticWithChoice" initialState="stopped">
        <choice>
            <when expression="#[true]">
                <flow-ref name="flow"/>
            </when>
            <otherwise>
                <raise-error type="APP:EXPECTED"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="subFlowStaticWithChoice" initialState="stopped">
        <choice>
            <when expression="#[true]">
                <flow-ref name="subFlow"/>
            </when>
            <otherwise>
                <raise-error type="APP:EXPECTED"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="flowDynamicWithChoice" initialState="stopped">
        <choice>
            <when expression="#[true]">
                <flow-ref name="#['flow']"/>
            </when>
            <otherwise>
                <raise-error type="TEST:EXPECTED"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="subFlowDynamicWithChoice" initialState="stopped">
        <choice>
            <when expression="#[true]">
                <flow-ref name="#['subFlow']"/>
            </when>
            <otherwise>
                <raise-error type="TEST:EXPECTED"/>
            </otherwise>
        </choice>
    </flow>
    
    <!-- Scatter Gather single -->
    
    <flow name="flowStaticWithScatterGather" initialState="stopped">
        <scatter-gather>
            <route>
                <test:processor/>
            </route>
            <route>
                <flow-ref name="flow"/>
            </route>
        </scatter-gather>
    </flow>

    <flow name="subFlowStaticWithScatterGather" initialState="stopped">
        <scatter-gather>
            <route>
                <test:processor/>
            </route>
            <route>
                <flow-ref name="subFlow"/>
            </route>
        </scatter-gather>
    </flow>

    <flow name="flowDynamicWithScatterGather" initialState="stopped">
        <scatter-gather>
            <route>
                <test:processor/>
            </route>
            <route>
                <flow-ref name="#['flow']"/>
            </route>
        </scatter-gather>
    </flow>

    <flow name="subFlowDynamicWithScatterGather" initialState="stopped">
        <scatter-gather>
            <route>
                <test:processor/>
            </route>
            <route>
                <flow-ref name="#['subFlow']"/>
            </route>
        </scatter-gather>
    </flow>
    
    <!-- Scatter Gather chain -->
    
    <flow name="flowStaticWithScatterGatherChain" initialState="stopped">
        <scatter-gather>
            <route>
                <test:processor/>
            </route>
            <route>
                <flow-ref name="flow"/>
            </route>
        </scatter-gather>
    </flow>

    <flow name="subFlowStaticWithScatterGatherChain" initialState="stopped">
        <scatter-gather>
            <route>
                <test:processor/>
            </route>
            <route>
                <flow-ref name="subFlow"/>
            </route>
        </scatter-gather>
    </flow>

    <flow name="flowDynamicWithScatterGatherChain" initialState="stopped">
        <scatter-gather>
            <route>
                <test:processor/>
            </route>
            <route>
                <flow-ref name="#['flow']"/>
            </route>
        </scatter-gather>
    </flow>

    <flow name="subFlowDynamicWithScatterGatherChain" initialState="stopped">
        <scatter-gather>
            <route>
                <test:processor/>
            </route>
            <route>
                <flow-ref name="#['subFlow']"/>
            </route>
        </scatter-gather>
    </flow>

    <!-- For Each -->

    <flow name="flowForEach" initialState="stopped">
        <foreach collection="#[['foo', 'bar']]">
            <logger/>
            <flow-ref name="flow"/>
        </foreach>
    </flow>

    <flow name="flowParallelForeach" initialState="stopped">
        <parallel-foreach collection="#[['foo', 'bar']]">
            <logger/>
            <flow-ref name="flow"/>
        </parallel-foreach>
    </flow>
    
</mule>
