integration/src/test/resources/org/mule/test/integration/interception/source-interceptor-factory.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:heisenberg="http://www.mulesoft.org/schema/mule/heisenberg"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/heisenberg http://www.mulesoft.org/schema/mule/heisenberg/current/mule-heisenberg.xsd">

    <heisenberg:config name="heisenberg" cancer="true" money="1000000" finalHealth="CANCER">
        <heisenberg:enemies>
            <heisenberg:enemy value="Gustavo Fring" />
            <heisenberg:enemy value="Hank" />
        </heisenberg:enemies>
        <heisenberg:monthly-incomes>
            <heisenberg:monthly-income value="12000" />
            <heisenberg:monthly-income value="500" />
        </heisenberg:monthly-incomes>
        <heisenberg:known-addresses>
            <heisenberg:known-address value="one address" />
        </heisenberg:known-addresses>
    </heisenberg:config>

    <flow name="sourceIntercepted" initialState="stopped">
        <heisenberg:listen-payments config-ref="heisenberg" initialBatchNumber="0">
            <heisenberg:next-door address="pollos hermanos" victim="Gustavo Fring">
                <heisenberg:previous victim="Krazy-8" address="Jesse's"/>
            </heisenberg:next-door>
            <heisenberg:success-info age="27">
                <heisenberg:known-addresses>
                    <heisenberg:known-address value="success address"/>
                </heisenberg:known-addresses>
            </heisenberg:success-info>
            <heisenberg:error-info knownAddresses="#[[]]"/>
        </heisenberg:listen-payments>

        <set-payload value="#[10]"/>
    </flow>

    <flow name="sourceErrorIntercepted" initialState="stopped">
        <heisenberg:listen-payments config-ref="heisenberg" initialBatchNumber="0">
            <heisenberg:next-door address="pollos hermanos" victim="Gustavo Fring">
                <heisenberg:previous victim="Krazy-8" address="Jesse's"/>
            </heisenberg:next-door>
            <heisenberg:success-info age="27">
                <heisenberg:known-addresses>
                    <heisenberg:known-address value="success address"/>
                </heisenberg:known-addresses>
            </heisenberg:success-info>
            <heisenberg:error-info knownAddresses="#[[]]"/>
        </heisenberg:listen-payments>

        <set-payload value="Not a number"/>
    </flow>

    <flow name="sourceInterceptedWithFailingProcessor" initialState="stopped">
        <heisenberg:listen-payments config-ref="heisenberg" initialBatchNumber="0">
            <heisenberg:next-door address="pollos hermanos" victim="Gustavo Fring">
                <heisenberg:previous victim="Krazy-8" address="Jesse's"/>
            </heisenberg:next-door>
            <heisenberg:success-info age="27">
                <heisenberg:known-addresses>
                    <heisenberg:known-address value="success address"/>
                </heisenberg:known-addresses>
            </heisenberg:success-info>
            <heisenberg:error-info knownAddresses="#[[]]"/>
        </heisenberg:listen-payments>
        <raise-error type="APP:RAISED"/>
    </flow>

    <flow name="sourceInterceptedWithFailingReferencedFlow" initialState="stopped">
        <heisenberg:listen-payments config-ref="heisenberg" initialBatchNumber="0">
            <heisenberg:next-door address="pollos hermanos" victim="Gustavo Fring">
                <heisenberg:previous victim="Krazy-8" address="Jesse's"/>
            </heisenberg:next-door>
            <heisenberg:success-info age="27">
                <heisenberg:known-addresses>
                    <heisenberg:known-address value="success address"/>
                </heisenberg:known-addresses>
            </heisenberg:success-info>
            <heisenberg:error-info knownAddresses="#[[]]"/>
        </heisenberg:listen-payments>
    <flow-ref name="referencedFlow"/>
    </flow>

    <flow name="referencedFlow">
        <raise-error type="APP:RAISED"/>
    </flow>

    <flow name="sourceInterceptedAfterTerminated" initialState="stopped">
        <heisenberg:listen-payments config-ref="heisenberg" initialBatchNumber="0">
            <heisenberg:next-door address="pollos hermanos" victim="Gustavo Fring">
                <heisenberg:previous victim="Krazy-8" address="Jesse's"/>
            </heisenberg:next-door>
            <heisenberg:success-info age="27">
                <heisenberg:known-addresses>
                    <heisenberg:known-address value="success address"/>
                </heisenberg:known-addresses>
            </heisenberg:success-info>
            <heisenberg:error-info knownAddresses="#[[]]"/>
        </heisenberg:listen-payments>
        <async>
            <set-payload value="#[10]"/>
        </async>
    </flow>

    <flow name="sourceErrorInterceptedAfterTerminated" initialState="stopped">
        <heisenberg:listen-payments config-ref="heisenberg" initialBatchNumber="0">
            <heisenberg:next-door address="pollos hermanos" victim="Gustavo Fring">
                <heisenberg:previous victim="Krazy-8" address="Jesse's"/>
            </heisenberg:next-door>
            <heisenberg:success-info age="27">
                <heisenberg:known-addresses>
                    <heisenberg:known-address value="success address"/>
                </heisenberg:known-addresses>
            </heisenberg:success-info>
            <heisenberg:error-info knownAddresses="#[[]]"/>
        </heisenberg:listen-payments>
        <async>
            <set-payload value="Not a number"/>
        </async>
    </flow>

    <flow name="sourceInterceptedAfterTerminatedWithFailingProcessor" initialState="stopped">
        <heisenberg:listen-payments config-ref="heisenberg" initialBatchNumber="0">
            <heisenberg:next-door address="pollos hermanos" victim="Gustavo Fring">
                <heisenberg:previous victim="Krazy-8" address="Jesse's"/>
            </heisenberg:next-door>
            <heisenberg:success-info age="27">
                <heisenberg:known-addresses>
                    <heisenberg:known-address value="success address"/>
                </heisenberg:known-addresses>
            </heisenberg:success-info>
            <heisenberg:error-info knownAddresses="#[[]]"/>
        </heisenberg:listen-payments>
        <async>
            <raise-error type="APP:RAISED"/>
        </async>
    </flow>

    <flow name="sourceInterceptedAfterTerminatedWithFailingReferencedFlow" initialState="stopped">
        <heisenberg:listen-payments config-ref="heisenberg" initialBatchNumber="0">
            <heisenberg:next-door address="pollos hermanos" victim="Gustavo Fring">
                <heisenberg:previous victim="Krazy-8" address="Jesse's"/>
            </heisenberg:next-door>
            <heisenberg:success-info age="27">
                <heisenberg:known-addresses>
                    <heisenberg:known-address value="success address"/>
                </heisenberg:known-addresses>
            </heisenberg:success-info>
            <heisenberg:error-info knownAddresses="#[[]]"/>
        </heisenberg:listen-payments>
        <async>
            <flow-ref name="referencedFlow"/>
        </async>
    </flow>

    <flow name="FlowThatEndsAfterAsync">
        <heisenberg:listen-payments config-ref="heisenberg" initialBatchNumber="0">
            <heisenberg:next-door address="pollos hermanos" victim="Gustavo Fring">
                <heisenberg:previous victim="Krazy-8" address="Jesse's"/>
            </heisenberg:next-door>
            <heisenberg:success-info age="27">
                <heisenberg:known-addresses>
                    <heisenberg:known-address value="success address"/>
                </heisenberg:known-addresses>
            </heisenberg:success-info>
            <heisenberg:error-info knownAddresses="#[[]]"/>
        </heisenberg:listen-payments>
        <async>
            <set-payload value="Not a number"/>
        </async>
    </flow>

    <flow name="withMaxConcurrency" maxConcurrency="1" initialState="stopped">
        <heisenberg:dea-radio/>
        <async>
            <set-payload value="#[java!org::mule::test::integration::interception::SourceInterceptorFactoryTestCase::await(payload)]"/>
        </async>
    </flow>

</mule>
