extensions-xml-support/src/test/resources/flows/flows-with-module-using-jms.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:module-using-jms="http://www.mulesoft.org/schema/mule/module-using-jms"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/module-using-jms http://www.mulesoft.org/schema/mule/module-using-jms/current/mule-module-using-jms.xsd">

    <flow name="producer-flow">
        <module-using-jms:do-publish destination="someDestination" content="#[vars.content]"/>
    </flow>

    <flow name="consumer-flow">
        <module-using-jms:do-consume destination="someDestination"/>
    </flow>
</mule>
