dsl/src/test/resources/core-bulk-extension-model.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="flowForscheduler">
        <scheduler schedulingStrategy="Attribute"/>
    </flow>
    <flow name="flowForidempotentMessageValidator">
        <idempotent-message-validator idExpression="#[correlationId]" objectStore="OS:OBJECT_STORE"
                                      storePrefix="Attribute" valueExpression="#[correlationId]"/>
    </flow>
    <flow name="flowForlogger">
        <logger category="Attribute" level="INFO" message="Attribute"/>
    </flow>
    <flow name="flowForparseTemplate">
        <parse-template location="Attribute" target="Attribute" targetValue="#[payload]" outputMimeType="Attribute"
                        outputEncoding="Attribute">
            <content>#['ExpressionAttribute']</content>
        </parse-template>
    </flow>
    <flow name="flowForraiseError">
        <raise-error description="Attribute" type="Attribute"/>
    </flow>
    <flow name="flowForremoveVariable">
        <remove-variable variableName="Attribute"/>
    </flow>
    <flow name="flowForsetPayload">
        <set-payload encoding="Attribute" mimeType="Attribute" value="Attribute"/>
    </flow>
    <flow name="flowForsetVariable">
        <set-variable encoding="Attribute" mimeType="Attribute" value="Attribute" variableName="Attribute"/>
    </flow>
    <flow name="flowForasync">
        <async name="Attribute" maxConcurrency="10000">
            <logger/>
        </async>
    </flow>
    <flow name="flowForchoice">
        <choice>
            <when expression="Attribute">
                <logger/>
            </when>
            <otherwise>
                <logger/>
            </otherwise>
        </choice>
    </flow>
    <configuration defaultErrorHandler-ref="MULE:ERROR_HANDLER" defaultObjectSerializer-ref="Attribute"
                   defaultResponseTimeout="10000" defaultTransactionTimeout="30000" inheritIterableRepeatability="false"
                   maxQueueTransactionFilesSize="500" name="globalconfiguration" shutdownTimeout="5000">
        <dynamic-config-expiration frequency="5" timeUnit="MINUTES">
            <expiration-policy maxIdleTime="5" timeUnit="MINUTES"/>
        </dynamic-config-expiration>
    </configuration>
    <configuration-properties file="Attribute" name="globalconfigurationProperties"/>
    <error-handler name="globalerrorHandler" ref="MULE:ERROR_HANDLER">
        <on-error-continue enableNotifications="true" logException="true" type="Attribute" when="Attribute">
            <logger/>
        </on-error-continue>
        <on-error-propagate enableNotifications="true" logException="true" type="Attribute" when="Attribute">
            <logger/>
        </on-error-propagate>
        <logger/>
    </error-handler>
    <flow name="flowForfirstSuccessful">
        <first-successful>
            <route>
                <logger/>
            </route>
        </first-successful>
    </flow>
    <flow initialState="started" maxConcurrency="10000" name="globalflow">
        <logger/>
        <logger/>
        <logger/>
    </flow>
    <flow name="flowForforeach">
        <foreach batchSize="10000" collection="#[payload]" counterVariableName="counter"
                 rootMessageVariableName="rootMessage">
            <logger/>
        </foreach>
    </flow>
    <notifications name="globalnotifications"/>
    <object class="Attribute" name="Attribute" ref="Attribute"/>
    <flow name="flowForonError">
        <on-error ref="Attribute"/>
    </flow>
    <flow name="flowForparallelForeach">
        <parallel-foreach collection="#[payload]" maxConcurrency="2147483647" target="Attribute"
                          targetValue="#[payload]" timeout="9223372036854775807">
            <logger/>
        </parallel-foreach>
    </flow>
    <flow name="flowForroundRobin">
        <round-robin>
            <route>
                <logger/>
            </route>
        </round-robin>
    </flow>
    <flow name="flowForscatterGather">
        <scatter-gather maxConcurrency="2147483647" target="Attribute" targetValue="#[payload]"
                        timeout="9223372036854775807">
            <route>
                <logger/>
            </route>
        </scatter-gather>
    </flow>
    <sub-flow name="globalsubFlow">
        <logger/>
    </sub-flow>
    <flow name="flowFortry">
        <try transactionType="LOCAL" transactionalAction="INDIFFERENT">
            <logger/>
            <logger/>
        </try>
    </flow>
    <flow name="flowForuntilSuccessful">
        <until-successful maxRetries="5" millisBetweenRetries="60000">
            <logger/>
        </until-successful>
    </flow>
</mule>
