integration/src/test/resources/tracing/first-successful-error.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <http:request-config name="HTTP_Request_configuration" />
    <flow name="first-successful-telemetryFlow">
        <http:listener config-ref="HTTP_Listener_config" path="test"/>
        <set-variable value="" variableName="beginning"/>
        <first-successful >
            <route >
                <set-payload value="#[payload]" />
                <http:request method="GET" config-ref="HTTP_Request_configuration" path="error"/>
                <logger level="INFO" />
            </route>
            <route >
                <set-payload value="#[payload]" />
                <logger level="INFO"/>
            </route>
        </first-successful>
        <set-variable value="" variableName="end"/>
    </flow>
</mule>
