integration/src/test/resources/tracing/foreach-error.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:request-config name="HTTP_Request_configuration"/>
    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <flow name="for-each-telemetryFlow">
        <http:listener config-ref="HTTP_Listener_config" path="test"/>
        <set-payload value="#[[1, 2, 3]]"/>
        <foreach>
            <logger level="INFO"/>
            <http:request method="GET" config-ref="HTTP_Request_configuration" path="error"/>
            <set-variable value="" variableName="var"/>
        </foreach>
        <set-payload value="#[payload]" />
    </flow>
</mule>
