integration/src/test/resources/tracing/parallel-foreach-success.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <flow name="parallel-for-eachFlow">
        <http:listener config-ref="HTTP_Listener_config" path="test"/>
        <set-payload value="#[[1, 2, 3]]" />
        <parallel-foreach >
            <logger level="INFO"/>
            <set-payload value="#[payload]" />
        </parallel-foreach>
        <set-payload value="#[payload]" />
    </flow>
</mule>
