integration/src/test/resources/tracing/scatter-gather-success.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <flow name="scatter-gather-flow" >
        <http:listener config-ref="HTTP_Listener_config" path="/test" />
        <scatter-gather>
            <route >
                <set-payload value="PAYLOAD 1"/>
            </route>
            <route >
                <set-payload value="PAYLOAD 2"/>
            </route>
        </scatter-gather>
        <logger level="INFO" message="#[payload]"/>
    </flow>
</mule>