integration/src/test/resources/org/mule/test/integration/classloading/sdk-api-classloading-mule-config-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:classloading="http://www.mulesoft.org/schema/mule/classloading"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/classloading http://www.mulesoft.org/schema/mule/classloading/current/mule-classloading.xsd">


    <flow name="getMethods">
        <classloading:get-methods clazzName="#[payload]"/>
    </flow>

</mule>