integration/src/test/resources/core-namespace-routers-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="IdempotentSecureHashReceiverRouter">
        <idempotent-message-validator idExpression="%dw 2.0
            output text/plain
            import dw::Crypto
            ---
            Crypto::hashWith(payload,'SHA-256')"/>
    </flow>

    <flow name="IdempotentReceiverRouter">
        <idempotent-message-validator idExpression="#[id + '-' + correlationId]"/>
    </flow>

    <flow name="IdempotentSecureHashReceiverRouterVar">
        <idempotent-message-validator idExpression="%dw 2.0
            output text/plain
            import dw::Crypto
            ---
            Crypto::hashWith(variables.otherId,'SHA-256')"/>
        <set-payload value="Not duplicate" />
        <error-handler>
            <on-error-continue type="DUPLICATE_MESSAGE">
                <set-payload value="Duplicate" />
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="IdempotentReceiverRouterVar">
        <idempotent-message-validator idExpression="#[otherId]"/>
        <set-payload value="Not duplicate" />
        <error-handler>
            <on-error-continue type="DUPLICATE_MESSAGE">
                <set-payload value="Duplicate" />
            </on-error-continue>
        </error-handler>
    </flow>
    
</mule>
        
