integration/src/test/resources/first-successful-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="test-router">
        <first-successful>
            <route>
                <validation:is-true expression="#[payload is String]"/>
                <test:processor appendString=" is a string"/>
            </route>
            <route>
                <validation:is-true expression="#[payload is Number]"/>
                <test:processor appendString=" is a number"/>
            </route>
        </first-successful>
    </flow>

    <flow name="withOneWayEndpoints">
        <first-successful>
            <route>
                <test:processor throwException="true"/>
            </route>
            <route>
                <flow-ref name="withOneWayEndpoints-handler"/>
            </route>
        </first-successful>
    </flow>

    <flow name="withOneWayEndpoints-handler">
        <test:queue name="WithOneWayEndpoints.out"/>
    </flow>
</mule>
