integration/src/test/resources/set-flow-variable-data-type-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="setVariableFlow">
        <set-variable variableName="var1" value="test" mimeType="text/xml"/>
        <set-variable variableName="var2" value="test"/>
        <set-variable variableName="var3" value="#['test']" mimeType="text/xml"/>
        <set-variable variableName="var4" value="#[output text/xml --- { root: {node: 'value'} } ]"/>
    </flow>
</mule>
