integration/src/test/resources/split-aggregate-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="minimalConfig">
        <set-payload value="#[['apple', 'banana', 'orange']]"/>
        <split-aggregate>
            <set-payload value="#[payload ++ '-result']"/>
        </split-aggregate>
        <flow-ref name="testListAggregation"/>
    </flow>

    <flow name="minimalConfigTarget">
        <set-payload value="#[['apple', 'banana', 'orange']]"/>
        <split-aggregate target="result">
            <set-payload value="#[payload ++ '-result']"/>
        </split-aggregate>
        <test:assert expression="#[vars.result != null]"/>
        <set-payload value="#[vars.result]"/>
        <flow-ref name="testListAggregation"/>
    </flow>

    <flow name="minimalConfigTargetMessage">
        <set-payload value="#[['apple', 'banana', 'orange']]"/>
        <split-aggregate target="result" targetValue="#[message]">
            <set-payload value="#[payload ++ '-result']"/>
        </split-aggregate>
        <test:assert expression="#[vars.result != null]"/>
        <set-payload value="#[vars.result.payload]"/>
        <flow-ref name="testListAggregation"/>
    </flow>

    <flow name="timeout">
        <set-payload value="#[['apple', 'banana', 'orange']]"/>
        <split-aggregate timeout="1000">
            <choice>
                <when expression="#[payload == 'orange']">
                    <expression-component>java!java::lang::Thread::sleep(10000)</expression-component>
                </when>
                <otherwise>
                    <set-payload value="#[payload ++ '-result']"/>
                </otherwise>
            </choice>
        </split-aggregate>
    </flow>

    <flow name="routeWithException">
        <set-payload value="#[['apple', 'banana', 'orange']]"/>
        <split-aggregate>
            <choice>
                <when expression="#[payload == 'banana']">
                    <test:processor throwException="true"/>
                </when>
                <otherwise>
                    <set-payload value="#[payload ++ '-result']"/>
                </otherwise>
            </choice>
        </split-aggregate>
    </flow>

    <flow name="routeWithExceptionWithMessage">
        <set-payload value="#[['apple', 'banana', 'orange']]"/>
        <split-aggregate>
            <choice>
                <when expression="#[payload == 'banana']">
                    <test:processor throwException="true" exceptionText="I'm a message"/>
                </when>
                <otherwise>
                    <set-payload value="#[payload ++ '-result']"/>
                </otherwise>
            </choice>
        </split-aggregate>
    </flow>

    <flow name="routeWithNonMuleException">
        <set-payload value="#[['apple', 'banana', 'orange']]"/>
        <split-aggregate>
            <choice>
                <when expression="#[payload == 'banana']">
                    <test:processor throwException="true" exceptionToThrow="java.lang.NullPointerException" exceptionText="nonMule"/>
                </when>
                <otherwise>
                    <set-payload value="#[payload ++ '-result']"/>
                </otherwise>
            </choice>
        </split-aggregate>
    </flow>

    <flow name="routeWithExpressionException">
        <set-payload value="#[['apple', 'banana', 'orange']]"/>
        <split-aggregate>
            <choice>
                <when expression="#[payload == 'banana']">
                    <set-payload value="#[invalidExpr]"/>
                </when>
                <otherwise>
                    <set-payload value="#[payload ++ '-result']"/>
                </otherwise>
            </choice>
        </split-aggregate>
    </flow>

    <flow name="routeWithExceptionInSequentialProcessing">
        <set-payload value="#[['apple', 'banana', 'orange']]"/>
        <split-aggregate maxConcurrency="1">
            <choice>
                <when expression="#[payload == 'banana']">
                    <test:processor throwException="true"/>
                </when>
                <otherwise>
                    <set-payload value="#[payload ++ '-result']"/>
                </otherwise>
            </choice>
        </split-aggregate>
    </flow>

    <flow name="sequentialProcessing">
        <set-payload value="#[['apple', 'banana', 'orange']]"/>
        <split-aggregate maxConcurrency="1">
            <set-payload value="#[payload ++ '-result']"/>
            <custom-processor class="org.mule.test.routing.SplitAggregateScopeTestCase$ThreadCaptor" />
        </split-aggregate>
        <flow-ref name="testListAggregation"/>
    </flow>

    <flow name="errorHandler">
        <set-payload value="#[['apple', 'banana', 'orange']]"/>
        <split-aggregate>
            <choice>
                <when expression="#[payload == 'banana']">
                    <test:processor throwException="true"/>
                </when>
                <when expression="#[payload == 'orange']">
                    <test:processor throwException="true"/>
                </when>
                <otherwise>
                    <set-payload value="#[payload ++ '-result']"/>
                </otherwise>
            </choice>
        </split-aggregate>
        <error-handler>
            <on-error-continue type="COMPOSITE_ROUTING">
                <test:assert expression="#[mel:exception.cause.getClass().getName().equals('org.mule.runtime.core.privileged.routing.CompositeRoutingException')]"/>
                <test:assert expression="#[error.errorMessage.payload.failures['0'] == null]"/>
                <test:assert expression="#[error.errorMessage.payload.failures['1'] != null]"/>
                <test:assert expression="#[error.errorMessage.payload.failures['2'] != null]"/>
                <test:assert expression="#[error.errorMessage.payload.results['0'] != null]"/>
                <test:assert expression="#[error.errorMessage.payload.results['1'] == null]"/>
                <test:assert expression="#[error.errorMessage.payload.results['2'] == null]"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="variables">
        <set-payload value="#[['apple', 'banana', 'orange']]"/>
        <set-variable variableName="var1" value="var"/>
        <set-variable variableName="var2" value="var"/>
        <split-aggregate>
            <choice>
                <when expression="#[payload == 'apple']">
                    <set-variable variableName="var2" value="newValue"/>
                    <set-variable variableName="var3" value="var"/>
                    <set-variable variableName="var4" value="val1"/>
                </when>
                <when expression="#[payload == 'banana']">
                    <set-variable variableName="var4" value="val2"/>
                </when>
                <otherwise>
                    <set-variable variableName="var4" value="val3"/>
                </otherwise>
            </choice>
        </split-aggregate>

        <test:assert expression="#[vars.var1 == 'var']"/>
        <test:assert expression="#[vars.var2 == 'newValue']"/>
        <test:assert expression="#[vars.var3 == 'var']"/>
        <test:assert expression="#[vars.var4 == ['val1','val2','val3']]"/>
    </flow>

    <flow name="concurrent">
        <set-payload value="#[['apple', 'banana', 'orange']]"/>
        <split-aggregate>
            <flow-ref name="captureThreadAndWait" />
            <set-payload value="#[payload ++ '-result']"/>
        </split-aggregate>
    </flow>

    <sub-flow name="captureThreadAndWait">
        <custom-processor class="org.mule.test.routing.SplitAggregateScopeTestCase$ThreadCaptor" />
        <expression-component>mel:flowVars['latch'].await()</expression-component>
    </sub-flow>

    <sub-flow name="testListAggregation">
        <test:assert expression="#[payload[0].payload == 'apple-result']"/>
        <test:assert expression="#[payload[1].payload == 'banana-result']"/>
        <test:assert expression="#[payload[2].payload == 'orange-result']"/>
    </sub-flow>

</mule>
