integration/src/test/resources/test-namespace-config-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <object name="exceptionBean" class="java.io.IOException" />

    <flow name="testService1">
        <test:processor enableNotifications="false"
            enableMessageHistory="false">
            <test:callback class="org.mule.test.tck.MuleTestNamespaceTestCase$TestCallback" />
        </test:processor>
    </flow>

    <flow name="testService3">
        <test:processor enableMessageHistory="false"
            appendString=" #[mel:context:serviceName]" />
    </flow>

</mule>
