integration/src/test/resources/transactional-try-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="standardTry">
        <try transactionalAction="BEGIN_OR_JOIN" transactionType="LOCAL">
            <raise-error type="TEST:EXPECTED"/>
            <error-handler>
                <on-error-continue>
                    <set-payload value="#[payload ++ ' hi']"/>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

</mule>
