integration/src/test/resources/org/mule/shutdown/shutdown-timeout-one-way-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:test-components="http://www.mulesoft.org/schema/mule/test-components"
        xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
        xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/test-components http://www.mulesoft.org/schema/mule/test-components/current/mule-test-components.xsd
		http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <object name="block" class="org.mule.shutdown.AbstractShutdownTimeoutRequestResponseTestCase$BlockMessageProcessor"/>

    <configuration shutdownTimeout="${contextShutdownTimeout}" />

    <test-components:queue-config name="response">
        <test-components:connection />
    </test-components:queue-config>

    <flow name="staticComponentFlow">

        <flow-ref name="block"/>
        <set-payload value="staticComponentResponse"/>

        <test-components:queue-push config-ref="response"/>
    </flow>

    <flow name="scriptComponentFlow">

        <flow-ref name="block"/>
        <script:execute engine="groovy">
            <script:code>return &quot;scriptComponentResponse&quot;;</script:code>
        </script:execute>

        <test-components:queue-push config-ref="response"/>
    </flow>

    <flow name="setPayloadFlow">
        <flow-ref name="block"/>
        <set-payload value="#['setPayloadResponse']" />

        <test-components:queue-push config-ref="response"/>
    </flow>

    <flow name="setPayloadChoiceFlow">
        <flow-ref name="block"/>
        <choice>
            <when expression="#[true]">
                <set-payload value="#['setPayloadResponse']" />

                <test-components:queue-push config-ref="response"/>
            </when>
        </choice>
    </flow>

    <flow name="setPayloadScatterGather">
        <scatter-gather>
            <route>
                <flow-ref name="flowWithBlockedProcessor" />
            </route>
            <route>
                <flow-ref name="flowWithBlockedProcessor" />
            </route>
        </scatter-gather>
        <test-components:queue-push config-ref="response"/>
    </flow>

    <flow name="flowWithBlockedProcessor">
        <flow-ref name="block"/>
        <set-payload value="staticComponentResponse"/>
        <test-components:queue-push config-ref="response"/>
    </flow>

</mule>
