integration/src/test/resources/org/mule/shutdown/shutdown-timeout-one-way-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:test="http://www.mulesoft.org/schema/mule/test"
        xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
        xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
		http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <configuration shutdownTimeout="${contextShutdownTimeout}" />

    <flow name="staticComponentFlow">

        <custom-processor class="org.mule.shutdown.AbstractShutdownTimeoutRequestResponseTestCase$BlockMessageProcessor"/>
        <set-payload value="staticComponentResponse"/>

        <test:queue name="response"/>
    </flow>

    <flow name="scriptComponentFlow">

        <custom-processor class="org.mule.shutdown.AbstractShutdownTimeoutRequestResponseTestCase$BlockMessageProcessor"/>
        <script:execute engine="groovy">
            <script:code>return &quot;scriptComponentResponse&quot;;</script:code>
        </script:execute>

        <test:queue name="response"/>
    </flow>

    <flow name="setPayloadFlow">
        <custom-processor class="org.mule.shutdown.AbstractShutdownTimeoutRequestResponseTestCase$BlockMessageProcessor"/>
        <set-payload value="#['setPayloadResponse']" />

        <test:queue name="response"/>
    </flow>

    <flow name="setPayloadChoiceFlow">
        <custom-processor class="org.mule.shutdown.AbstractShutdownTimeoutRequestResponseTestCase$BlockMessageProcessor"/>
        <choice>
            <when expression="#[true]">
                <set-payload value="#['setPayloadResponse']" />
        
                <test:queue name="response"/>
            </when>
        </choice>
    </flow>

    <flow name="setPayloadThroughScatterGatherWithFlowRefs">
        <scatter-gather>
            <route>
                <flow-ref name="flowWithBlockedProcessor" />
            </route>
            <route>
                <flow-ref name="flowWithBlockedProcessor" />
            </route>
        </scatter-gather>
        <test-components:queue-push config-ref="response"/>
    </flow>

    <flow name="flowWithBlockedProcessor">
        <flow-ref name="block"/>
        <set-payload value="setPayloadResponse"/>
    </flow>

</mule>
