metrics/src/test/resources/metrics/soapkit-flow-statistics-summary.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com
  ~ The software in this package is published under the terms of the CPAL v1.0
  ~ license, a copy of which has been included with this distribution in the
  ~ LICENSE.txt file.
  -->

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd">


    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="TshirtServicePort" service="TshirtService" wsdlLocation="metrics/tshirt2.wsdl"/>

    <http:listener-config name="HTTP_Listener_config" >
        <http:listener-connection host="0.0.0.0" port="${httpPort}" />
    </http:listener-config>

    <!-- this one is a trigger flow even though it only has the soapkit router, but it has a listener -->
    <flow name="simple-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/"/>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
    </flow>

    <flow name="OrderTshirt:\soapkit-config">
        <set-payload value="OK"/>
    </flow>

    <!-- this one should be counted as private because there is no soapkit config routing to it -->
    <flow name="OrderTshirt:\soapkit-config-impl">
        <set-payload value="OK"/>
    </flow>
</mule>
