integration/src/test/resources/org/mule/test/config/ast/parameters-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:subtypes="http://www.mulesoft.org/schema/mule/subtypes"
      xmlns:websocket="http://www.mulesoft.org/schema/mule/websocket"
      xmlns:heisenberg="http://www.mulesoft.org/schema/mule/heisenberg"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/websocket http://www.mulesoft.org/schema/mule/http/current/mule-websocket.xsd
        http://www.mulesoft.org/schema/mule/subtypes http://www.mulesoft.org/schema/mule/subtypes/current/mule-subtypes.xsd
        http://www.mulesoft.org/schema/mule/heisenberg http://www.mulesoft.org/schema/mule/heisenberg/current/mule-heisenberg.xsd">

    <tls:context name="listenerTlsContext">
        <tls:key-store path="serverKeystore" keyPassword="mulepassword" password="mulepassword" alias="muleserver"/>
    </tls:context>

    <http:listener-config name="HTTP_Listener_config" basePath="/api">
        <http:listener-connection host="localhost" port="8080" tlsContext="listenerTlsContext"
                                  protocol="HTTPS"/>
        <http:listener-interceptors>
            <http:cors-interceptor allowCredentials="true">
                <http:origins>
                    <http:origin url="http://www.the-origin-of-time.com" accessControlMaxAge="30">
                        <http:allowed-methods>
                            <http:method methodName="POST"/>
                            <http:method methodName="PUT"/>
                            <http:method methodName="GET"/>
                        </http:allowed-methods>
                        <http:allowed-headers>
                            <http:header headerName="x-allow-origin"/>
                            <http:header headerName="x-yet-another-valid-header"/>
                        </http:allowed-headers>
                        <http:expose-headers>
                            <http:header headerName="x-forwarded-for"/>
                        </http:expose-headers>
                    </http:origin>
                    <http:origin url="http://www.the-origin-of-life.com" accessControlMaxAge="60">
                        <http:allowed-methods>
                            <http:method methodName="POST"/>
                            <http:method methodName="GET"/>
                        </http:allowed-methods>
                        <http:allowed-headers>
                            <http:header headerName="x-allow-origin"/>
                        </http:allowed-headers>
                        <http:expose-headers>
                            <http:header headerName="x-forwarded-for"/>
                        </http:expose-headers>
                    </http:origin>
                </http:origins>
            </http:cors-interceptor>
        </http:listener-interceptors>
    </http:listener-config>

    <db:config name="dbConfig">
        <db:derby-connection create="true" database="target/muleEmbeddedDB">
            <db:pooling-profile maxPoolSize="10">
                <db:additional-properties/>
            </db:pooling-profile>
            <db:connection-properties>
                <db:connection-property key="first" value="propertyOne"/>
                <db:connection-property key="second" value="propertyTwo"/>
            </db:connection-properties>
        </db:derby-connection>
    </db:config>

    <flow name="flowParameters" initialState="stopped" maxConcurrency="2"/>

    <heisenberg:config name="heisenberg"
                       cancer="true"
                       dateOfBirth="1959-09-07T00:00:00"
                       dateOfDeath="2011-09-07T00:00:00-05:00"
                       dateOfConception="1959-01-07T00:00:00"
                       money="1000000"
                       finalHealth="DEAD"
                       labAddress="Pollos Hermanos">
        <heisenberg:enemies>
            <heisenberg:enemy value="Gustavo Fring"/>
            <heisenberg:enemy value="Hank"/>
        </heisenberg:enemies>
        <heisenberg:recipes>
            <heisenberg:recipe key="methylamine" value="75"/>
            <heisenberg:recipe key="pseudoephedrine" value="0"/>
            <heisenberg:recipe key="P2P" value="25"/>
        </heisenberg:recipes>
        <heisenberg:deaths-by-seasons>
            <heisenberg:deaths-by-season key="s01">
                <heisenberg:deaths-by-season-item value="emilio"/>
                <heisenberg:deaths-by-season-item value="domingo"/>
            </heisenberg:deaths-by-season>
        </heisenberg:deaths-by-seasons>
        <heisenberg:weapon-value-maps>
            <heisenberg:weapon-value-map key="first">
                <heisenberg:ricin microgramsPerKilo="22">
                    <heisenberg:destination victim="Lidia" address="Stevia coffe shop"/>
                </heisenberg:ricin>
            </heisenberg:weapon-value-map>
            <heisenberg:weapon-value-map key="second">
                <subtypes:revolver name="sledgeHammer's" bullets="1"/>
            </heisenberg:weapon-value-map>
        </heisenberg:weapon-value-maps>
        <heisenberg:labeled-ricins>
            <heisenberg:labeled-ricin key="pojo">
                <heisenberg:ricin microgramsPerKilo="22">
                    <heisenberg:destination victim="Lidia" address="Stevia coffe shop"/>
                </heisenberg:ricin>
            </heisenberg:labeled-ricin>
        </heisenberg:labeled-ricins>
    </heisenberg:config>

    <flow name="recursivePojo">
        <heisenberg:approve>
            <heisenberg:investment>
                <heisenberg:car-wash commercialName="A1" valuation="100" carsPerMinute="5">
                    <heisenberg:investment-spin-offs>
                        <heisenberg:investment-spin-off key="other-car-wash">
                            <heisenberg:car-wash commercialName="B1" valuation="10" carsPerMinute="1">
                                <heisenberg:discarded-investments>
                                    <heisenberg:car-dealer commercialName="Premium Cars" valuation="666" carStock="50">
                                        <heisenberg:investment-plan-b>
                                            <heisenberg:car-dealer commercialName="Not So Premium Cars" valuation="333"
                                                                   carStock="5"/>
                                        </heisenberg:investment-plan-b>
                                    </heisenberg:car-dealer>
                                </heisenberg:discarded-investments>
                            </heisenberg:car-wash>
                        </heisenberg:investment-spin-off>
                    </heisenberg:investment-spin-offs>
                </heisenberg:car-wash>
            </heisenberg:investment>
            <heisenberg:recursive-pojo>
                <heisenberg:childs>
                    <heisenberg:recursive-pojo>
                        <heisenberg:next>
                            <heisenberg:mapped-childs>
                                <heisenberg:mapped-child key="someKey"
                                                         value="#[{} as Object {class: 'new org.mule.test.heisenberg.extension.model.RecursivePojo'}]"/>
                            </heisenberg:mapped-childs>
                        </heisenberg:next>
                    </heisenberg:recursive-pojo>
                </heisenberg:childs>
                <heisenberg:mapped-childs>
                    <heisenberg:mapped-child key="otherKey"
                                             value="#[{} as Object {class: 'new org.mule.test.heisenberg.extension.model.RecursivePojo'}]"/>
                </heisenberg:mapped-childs>
            </heisenberg:recursive-pojo>
        </heisenberg:approve>
    </flow>

    <websocket:config name="myDynamicConfig">
        <websocket:connection>
            <websocket:server-settings listenerConfig="httpListenerConfig" listenerBasePath="/ws"/>
            <websocket:client-settings host="#[vars.host]" port="#[vars.port]" basePath="#[vars.basePath]"
                                       connectionIdleTimeout="1" followRedirects="#[true]"
                                       preserveHeadersCase="#[true]">
                <websocket:default-headers>
                    <websocket:header key="myCaseSensitiveHeader" value="#[vars.myCaseSensitiveHeader]"/>
                    <websocket:header key="#['defaultHeader']" value="#['default ' ++ 'header 1']"/>
                </websocket:default-headers>
                <websocket:default-query-params>
                    <websocket:query-param key="#[vars.queryParamKey]" value="#[123]"/>
                </websocket:default-query-params>
            </websocket:client-settings>
        </websocket:connection>
    </websocket:config>
</mule>