integration/src/test/resources/org/mule/test/integration/tck/test-namespace-config-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:test="http://www.mulesoft.org/schema/mule/test"
    xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="testService1">
        <test:processor enableNotifications="false"
            enableMessageHistory="false">
            <test:return-data>Foo Bar Car Jar</test:return-data>
        </test:processor>
    </flow>

    <flow name="testService2">
        <test:processor>
            <test:return-data
                file="org/mule/test/integration/tck/test-data.txt" />
        </test:processor>
    </flow>

    <flow name="testService3">
        <test:processor enableMessageHistory="false"
            appendString="#[' received']" />
    </flow>

    <flow name="testService4">
        <test:processor throwException="true" />
    </flow>

    <flow name="testService5">
        <test:processor throwException="true"
            exceptionToThrow="java.io.FileNotFoundException" />
    </flow>

</mule>
