tracing/src/test/resources/tracing/first-successful-success.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="first-successful-telemetryFlow">
        <set-variable value="" variableName="beginning"/>
        <first-successful >
            <route >
                <set-payload value="#[payload]" />
                <logger level="INFO" />
            </route>
            <route >
                <set-payload value="#[payload]" />
                <logger level="INFO"/>
            </route>
        </first-successful>
        <set-variable value="" variableName="end"/>
    </flow>
</mule>
