tracing/src/test/resources/tracing/parallel-foreach-error.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="parallel-for-eachFlow">
        <set-payload value="#[[1, 2, 3]]" />
        <parallel-foreach >
            <logger level="INFO"/>
            <raise-error type="ANY:EXPECTED"/>
            <set-variable value="" variableName="var"/>
        </parallel-foreach>
        <set-payload value="#[payload]" />
    </flow>
</mule>
