integration/src/test/resources/org/mule/test/config/correlation-id/expression-generation.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <configuration correlationIdGeneratorExpression="#[(uuid() splitBy('-'))[2] ++ '*doge' ]"/>

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="${port}" />
    </http:listener-config>

    <flow name="queueListener">
        <http:listener config-ref="HTTP_Listener_config" path="test"/>
        <set-payload value="#[correlationId]"/>
    </flow>

</mule>
