performance/src/test/resources/scatter-gather-perf-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP" >
        <http:listener-connection host="0.0.0.0" port="8081" protocol="HTTP"/>
    </http:listener-config>


    <http:request-config name="HTTP_Request_Configuration">
        <http:request-connection host="localhost" port="8081"/>
    </http:request-config>

    <flow name="parallelProcessing">
        <scatter-gather>
            <route>
                <set-payload value="#[java!org::mule::tck::junit4::AbstractMuleContextTestCase::sleepFor(payload, 5)]"/>
            </route>
            <route>
                <set-payload value="#[java!org::mule::tck::junit4::AbstractMuleContextTestCase::sleepFor(payload, 5)]"/>
            </route>
            <route>
                <set-payload value="#[java!org::mule::tck::junit4::AbstractMuleContextTestCase::sleepFor(payload, 5)]"/>
            </route>
        </scatter-gather>
    </flow>

    <flow name="parallelHttpProcessing">
        <scatter-gather>
            <route>
                <http:request config-ref="HTTP_Request_Configuration" path="do" method="GET"/>
            </route>
            <route>
                <http:request config-ref="HTTP_Request_Configuration" path="do" method="GET"/>
            </route>
            <route>
                <http:request config-ref="HTTP_Request_Configuration" path="do" method="GET"/>
            </route>
        </scatter-gather>
    </flow>

    <flow name="Http">
        <http:listener config-ref="HTTP" path="do"/>
        <set-payload value="#[java!org::mule::tck::junit4::AbstractMuleContextTestCase::sleepFor(payload, 1)]"/>
    </flow>

</mule>
