integration/src/test/resources/org/mule/processors/idempotent-message-validator-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

    <os:object-store name="globalStore"
                     entryTtl="1"
                     entryTtlUnit="MINUTES"
                     maxEntries="10"
                     persistent="false"
                     expirationInterval="1"
                     expirationIntervalUnit="MINUTES" />

    <flow name="validate-global">
        <idempotent-message-validator idExpression="#[payload]" objectStore="globalStore"/>
    </flow>

    <flow name="validate-global2">
        <idempotent-message-validator idExpression="#[payload]" objectStore="globalStore"/>
    </flow>

    <flow name="validate-private">
        <idempotent-message-validator idExpression="#[payload]">
            <os:private-object-store storeName="privateObjectStore"
                                     entryTtl="1"
                                     entryTtlUnit="MINUTES"
                                     maxEntries="10"
                                     persistent="false"
                                     expirationInterval="1"
                                     expirationIntervalUnit="MINUTES"/>
        </idempotent-message-validator>
    </flow>

    <flow name="validate-implicit">
        <idempotent-message-validator idExpression="#[payload]"/>
    </flow>


</mule>