integration/src/test/resources/org/mule/processors/logger-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="loggerWithException">
        <try>
            <logger message="#[INVALID_EXPRESSION()]" level="ERROR"/>
        </try>
        <error-handler>
            <on-error-continue type="EXPRESSION"/>
        </error-handler>
    </flow>

</mule>