integration/src/test/resources/org/mule/test/integration/routing/inbound/inbound-router-sync-async-client-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:test-components="http://www.mulesoft.org/schema/mule/test-components"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
         http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
         http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
         http://www.mulesoft.org/schema/mule/test-components http://www.mulesoft.org/schema/mule/test-components/current/mule-test-components.xsd">

    <description>
        Junit test: for MuleSupport Portal: Case 00001692
    </description>

    <test-components:queue-config name="asyncResponse">
        <test-components:connection />
    </test-components:queue-config>

    <sub-flow name="testComponent">
        <scripting:execute engine="groovy">
            <scripting:code>
                if(vars.messageType.equals("sync"))
                {
                    return "OK"
                }
                else if(vars.messageType.equals("async"))
                {
                    return "Response sent to asyncResponse"
                }

                return null
            </scripting:code>
        </scripting:execute>
    </sub-flow>

    <flow name="SyncAsync">
        <async>
            <flow-ref name="AsyncRequest"/>
        </async>
        <choice>
            <when expression="#[vars.messageType == 'sync']">
                <flow-ref name="testComponent"/>
            </when>
        </choice>
    </flow>

    <flow name="AsyncRequest">
        <choice>
            <when expression="#[vars.messageType == 'async']">
                <flow-ref name="testComponent"/>
                <test-components:queue-push config-ref="asyncResponse"/>
            </when>
        </choice>
    </flow>

</mule>
