soap-connect/integration-tests/src/test/resources/http-dispatcher.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:soap="http://www.mulesoft.org/schema/mule/simple"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/simple http://www.mulesoft.org/schema/mule/simple/current/mule-simple.xsd">

    <soap:config name="config-http">
        <soap:test-connection url="${address}?wsdl" service="TestService" port="TestPort">
            <soap:transport>
                <soap:test-http-dispatcher-provider/>
            </soap:transport>
        </soap:test-connection>
    </soap:config>

    <http:request-config name="httpConfig"/>

    <soap:config name="default-http">
        <soap:test-connection url="${address}?wsdl" service="TestService" port="TestPort">
            <soap:transport>
                <soap:test-http-dispatcher-provider requesterConfig="httpConfig"/>
            </soap:transport>
        </soap:test-connection>
    </soap:config>

    <flow name="withDefaultHttp">
        <soap:invoke config-ref="default-http" service="1" operation="noParams"/>
        <set-payload value="#[payload.body]"/>
        <object-to-string-transformer/>
    </flow>

    <flow name="withConfigHttp">
        <soap:invoke config-ref="config-http" service="1" operation="noParams"/>
        <set-payload value="#[payload.body]"/>
        <object-to-string-transformer/>
    </flow>
</mule>
