integration/src/test/resources/org/mule/test/integration/exceptions/error-handling-reuse-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <object name="throw-exception" class="org.mule.test.integration.exceptions.ThrowExceptionProcessor"/>

    <error-handler name="sharedErrorHandler">
        <on-error-continue type="TRANSFORMATION">
            <set-payload value="#[payload ++ ' transformation']"/>
        </on-error-continue>
        <on-error ref="sharedExpressionErrorHandler"/>
        <on-error-continue type="CONNECTIVITY">
            <set-payload value="#[payload ++ ' connectivity']"/>
        </on-error-continue>
        <on-error-continue type="ROUTING">
            <set-payload value="#[payload ++ ' routing']"/>
        </on-error-continue>
        <on-error-continue type="SECURITY">
            <set-payload value="#[payload ++ ' security']"/>
        </on-error-continue>
        <on-error ref="sharedDefaultHandler"/>
    </error-handler>

    <on-error-propagate name="sharedDefaultHandler">
        <set-payload value="#[payload ++ ' any shared']"/>
    </on-error-propagate>

    <on-error-continue type="EXPRESSION" name="sharedExpressionErrorHandler">
        <set-payload value="#[payload ++ ' expression']"/>
    </on-error-continue>

    <flow name="withSharedHandler">
        <flow-ref name="throw-exception"/>
        <error-handler ref="sharedErrorHandler"/>
    </flow>

    <flow name="withSharedHandlersInline">
        <flow-ref name="throw-exception"/>
        <error-handler>
            <on-error ref="sharedExpressionErrorHandler"/>
            <on-error-continue type="ROUTING">
                <set-payload value="#[payload ++ ' routing']"/>
            </on-error-continue>
            <on-error-propagate>
                <set-payload value="#[payload ++ ' any']"/>
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="withTryAndSharedHandler">
        <set-payload value="#[payload ++ ' hey']"/>
        <try>
            <flow-ref name="throw-exception"/>
            <error-handler ref="sharedErrorHandler"/>
        </try>
    </flow>

    <flow name="withTryAndSharedHandlersInline">
        <set-payload value="#[payload ++ ' hey']"/>
        <try>
            <flow-ref name="throw-exception"/>
            <error-handler>
                <on-error ref="sharedExpressionErrorHandler"/>
                <on-error-continue type="ROUTING">
                    <set-payload value="#[payload ++ ' routing']"/>
                </on-error-continue>
                <on-error-propagate>
                    <set-payload value="#[payload ++ ' any']"/>
                </on-error-propagate>
            </error-handler>
        </try>
    </flow>

</mule>
