integration/src/test/resources/org/mule/test/integration/exceptions/exception-propagation-mule-5737-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">


    <flow name="flow">
        <raise-error type="TEST:EXPECTED"/>
    </flow>

    <flow name="flowWithChildFlow">
        <flow-ref name="childFlow"/>
        <error-handler>
            <on-error-continue>
                <set-payload value="#[java!org::mule::test::integration::exceptions::ExceptionPropagationMule5737TestCase::senseParent(payload)]"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="flowWithSubFlow">
        <flow-ref name="subFlow"/>
        <error-handler>
            <on-error-continue>
                <set-payload value="#[java!org::mule::test::integration::exceptions::ExceptionPropagationMule5737TestCase::senseParent(payload)]"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="flowWithChildService">
        <flow-ref name="childService"/>
        <error-handler>
            <on-error-continue>
                <set-payload value="#[java!org::mule::test::integration::exceptions::ExceptionPropagationMule5737TestCase::senseParent(payload)]"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="childFlow">
        <raise-error type="TEST:EXPECTED"/>
        <error-handler>
            <on-error-continue>
                <set-payload value="#[java!org::mule::test::integration::exceptions::ExceptionPropagationMule5737TestCase::senseChild(payload)]"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <sub-flow name="subFlow">
        <raise-error type="TEST:EXPECTED"/>
    </sub-flow>

    <flow name="childService">
        <raise-error type="TEST:EXPECTED"/>
        <error-handler>
            <on-error-continue>
                <set-payload value="#[java!org::mule::test::integration::exceptions::ExceptionPropagationMule5737TestCase::senseChild(payload)]"/>
            </on-error-continue>
        </error-handler>
    </flow>

</mule>
