integration/src/test/resources/org/mule/test/integration/exceptions/exception-strategy-with-flow-exception.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:test-components="http://www.mulesoft.org/schema/mule/test-components"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
               http://www.mulesoft.org/schema/mule/test-components http://www.mulesoft.org/schema/mule/test-components/current/mule-test-components.xsd">

    <object name="processor" class="org.mule.test.integration.exceptions.ExceptionStrategyWithFlowExceptionTestCase$ExceptionThrower"/>

    <test-components:queue-config name="out">
        <test-components:connection />
    </test-components:queue-config>

    <flow name="customException">
        <flow-ref name="processor"/>
        <error-handler>
            <on-error-propagate>
                <test:assert expression="#[error.exception != null]"/>
                <test-components:queue-push config-ref="out"/>
            </on-error-propagate>
        </error-handler>
    </flow>

</mule>
