integration/src/test/resources/org/mule/test/integration/exceptions/exception-handling-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="customProcessorInFlow">
        <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExceptionHandlerVerifierProcessor" />
    </flow>

    <flow name="asyncInFlow">
        <async>
            <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExceptionHandlerVerifierProcessor" />
            <test:processor throwException="true"/>
        </async>
        <error-handler>
            <on-error-continue>
                <test:queue name="outFlow4"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="untilSuccessfulInFlow">
        <until-successful maxRetries="1" millisBetweenRetries="1000">
            <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExceptionHandlerVerifierProcessor" />
        </until-successful>
        <until-successful maxRetries="1" millisBetweenRetries="1000">
            <test:processor throwException="true"/>
        </until-successful>
        <error-handler>
            <on-error-continue>
                <test:queue name="outFlow5"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="customProcessorInScope">
        <foreach>
            <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExceptionHandlerVerifierProcessor" />
        </foreach>
        <error-handler>
            <on-error-propagate/>
        </error-handler>
    </flow>

    <flow name="customProcessorInTransactionalScope">
        <try>
            <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExceptionHandlerVerifierProcessor" />
            <test:processor throwException="true"/>
            <error-handler>
                <on-error-continue>
                    <test:queue name="outTransactional1"/>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="asyncInTransactionalScope">
        <try>
            <async>
                <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExceptionHandlerVerifierProcessor" />
                <test:processor throwException="true"/>
            </async>
            <error-handler>
                <on-error-continue>
                    <test:queue name="outTransactional4"/>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="untilSuccessfulInTransactionalScope">
        <try>
            <until-successful maxRetries="1" millisBetweenRetries="1000">
                <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExceptionHandlerVerifierProcessor" />
            </until-successful>
            <until-successful maxRetries="1" millisBetweenRetries="1000">
                <test:processor throwException="true"/>
            </until-successful>
            <error-handler>
                <on-error-continue>
                    <test:queue name="outTransactional5"/>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="customProcessorInExceptionStrategy">
        <test:processor throwException="true"/>
        <error-handler>
            <on-error-continue>
                <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExceptionHandlerVerifierProcessor" />
                <test:queue name="outStrategy1"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="asyncInExceptionStrategy">
        <test:processor throwException="true"/>
        <error-handler>
            <on-error-continue>
                <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExecutionCountProcessor" />
                <async>
                    <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExceptionHandlerVerifierProcessor" />
                    <test:processor throwException="true"/>
                </async>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="untilSuccessfulInExceptionStrategy">
        <test:processor throwException="true"/>
        <error-handler>
            <on-error-continue>
                <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExecutionCountProcessor" />
                <until-successful maxRetries="1" millisBetweenRetries="1000">
                    <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExceptionHandlerVerifierProcessor" />
                </until-successful>
                <until-successful maxRetries="1" millisBetweenRetries="1000">
                    <test:processor throwException="true"/>
                </until-successful>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="untilSuccessfulInExceptionStrategyRollback">
        <test:processor throwException="true"/>
        <error-handler>
            <on-error-propagate>
                <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExecutionCountProcessor" />
                <until-successful maxRetries="1" millisBetweenRetries="1000">
                    <custom-processor class="org.mule.test.integration.exceptions.ExceptionHandlingTestCase$ExceptionHandlerVerifierProcessor" />
                </until-successful>
                <until-successful maxRetries="1" millisBetweenRetries="1000">
                    <test:processor throwException="true"/>
                </until-successful>
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="errorThrownByOperationInForeach">
        <foreach>
            <file:write path="#[£$invalid]">
                <file:content>#[payload]</file:content>
            </file:write>
        </foreach>
    </flow>

</mule>
