integration/src/test/resources/org/mule/test/integration/exceptions/expressions-on-errors.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <flow name="detailedDescription">
        <raise-error type="APP:EXPECTED" description="An expected error occurred."/>
        <error-handler>
            <on-error-continue>
                <set-payload value="#[error.detailedDescription]"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="infoElement">
        <raise-error type="APP:EXPECTED"/>
        <error-handler>
            <on-error-continue>
                <set-payload value="#[error.failingComponent]"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="infoElementSdkOp">
        <http:request method="GET" config-ref="HTTP_Request_configuration" url="http://localhost:${wireMockPort}/500"/>
        <error-handler>
            <on-error-continue>
                <set-payload value="#[error.failingComponent]"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="infoElementDeprecated">
        <raise-error type="APP:EXPECTED"/>
        <error-handler>
            <on-error-continue>
                <set-payload value="#[message.message.exceptionPayload.info.Element]"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <http:request-config name="HTTP_Request_configuration"/>

    <flow name="infoElementDeprecatedSdkOp">
        <http:request method="GET" config-ref="HTTP_Request_configuration" url="http://localhost:${wireMockPort}/500"/>
        <error-handler>
            <on-error-continue>
                <set-payload value="#[message.message.exceptionPayload.info.Element]"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="messageToJson">
        <set-payload value="#[output application/json --- message]"/>
    </flow>

</mule>
