integration/src/test/resources/org/mule/test/integration/exceptions/on-error-continue-source-error-list.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="onErrorContinue">
        <test:skeleton-source/>
        <object-to-string-transformer/>
        <error-handler>
            <on-error-continue type="EXPRESSION, SOURCE_RESPONSE, CONNECTIVITY">
                <set-payload value="#[payload ++ ' nope']"/>
            </on-error-continue>
        </error-handler>
    </flow>

</mule>
