integration/src/test/resources/org/mule/test/integration/exceptions/on-error-continue-response-generate.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="onErrorContinue">
        <object-to-string-transformer/>
        <error-handler>
            <on-error-continue type="SOURCE_RESPONSE_GENERATE">
                <set-payload value="#[payload ++ ' nope']"/>
            </on-error-continue>
        </error-handler>
    </flow>

</mule>
