integration/src/test/resources/org/mule/test/integration/exceptions/redelivery-exhausted.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}"/>
    </http:listener-config>

    <flow name="exhaustRedeliveryFlow">
        <http:listener path="exhaustRedelivery" config-ref="listenerConfig">
            <redelivery-policy maxRedeliveryCount="${maxRedeliveryCount}" idExpression="#['theSame']"/>
            <http:error-response statusCode="#[vars.code]"/>
        </http:listener>
        <raise-error type="ROUTING" description="This is a routing error."/>
        <error-handler>
            <on-error-propagate type="ROUTING">
                <set-variable variableName="code" value="500"/>
            </on-error-propagate>
            <on-error-propagate type="REDELIVERY_EXHAUSTED">
                <set-variable variableName="code" value="503"/>
                <set-payload value="#[error]"/>
                <test:queue name="out"/>
            </on-error-propagate>
        </error-handler>
    </flow>

</mule>
