integration/src/test/resources/org/mule/test/integration/exceptions/unknown-error-filtering-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">


    <flow name="onErrorPropagateTypeMatch">
        <set-payload value="#[payload ++ ' apt1']"/>
        <test:processor throwException="true"/>
        <error-handler>
            <on-error-propagate type="UNKNOWN">
                <set-payload value="#[payload ++ ' nope']"/>
            </on-error-propagate>
            <on-error-propagate type="ANY">
                <test:queue name="any1"/>
            </on-error-propagate>
        </error-handler>
    </flow>

</mule>
