integration/src/test/resources/org/mule/test/integration/routing/outbound/aggregation-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="SplitterFlow">
        <message-chunk-splitter messageSize="2"/>
        <flow-ref name="AggregationFlow"/>
    </flow>

    <flow name="AggregationFlow">
        <collection-aggregator timeout="2000" failOnTimeout="false"/>
        <logger message="#[mel:payload]" level="ERROR"/>
        <test:queue name="collectionCreated"/>
    </flow>

</mule>
