oauth/src/test/resources/client-credentials-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test-oauth="http://www.mulesoft.org/schema/mule/test-oauth"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test-oauth http://www.mulesoft.org/schema/mule/test-oauth/current/mule-test-oauth.xsd">

    <flow name="getConnection">
        <test-oauth:get-connection config-ref="oauth" />
    </flow>

    <flow name="refreshToken">
        <test-oauth:token-expired config-ref="oauth" />
    </flow>

    <flow name="refreshTokenAsync">
        <test-oauth:token-expired-async config-ref="oauth" />
    </flow>
    
    <flow name="unauthorize">
        <test-oauth:unauthorize config-ref="oauth" resourceOwnerId="#[vars.ownerId]"/>
    </flow>
</mule>
