integration/src/test/resources/org/mule/streaming/payload-statistics-input-operation-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:marvel="http://www.mulesoft.org/schema/mule/marvel"
      xmlns:test-components="http://www.mulesoft.org/schema/mule/test-components"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
       http://www.mulesoft.org/schema/mule/marvel http://www.mulesoft.org/schema/mule/marvel/current/mule-marvel.xsd
       http://www.mulesoft.org/schema/mule/test-components http://www.mulesoft.org/schema/mule/test-components/current/mule-test-components.xsd">

    <test-components:queue-config name="queue">
        <test-components:connection />
    </test-components:queue-config>

    <file:config name="file">
        <file:connection workingDir="${workingDir}" />
    </file:config>

    <flow name="streamInputOperation">
        <file:write config-ref="file" path="#[random() as String]"/>
    </flow>

    <flow name="listInputOperation">
        <marvel:wolverine-shred/>
    </flow>

    <flow name="dslGroupInputOperation">
        <marvel:wolverine-chill-out>
            <!-- This is not content, so not accounted in statistics -->
            <marvel:forest friends="#[['Yuriko']]">
                <marvel:bears>#[['Ted', 'Yogi', 'Blubber', 'Winnie']]</marvel:bears>
                <marvel:river>#[payload]</marvel:river>
            </marvel:forest>
        </marvel:wolverine-chill-out>
    </flow>

    <flow name="groupInputOperation">
        <!-- This is not content, so not accounted in statistics -->
        <marvel:wolverine-chill-out-quick friends="#[['Yuriko']]">
            <marvel:bears>#[['Ted', 'Yogi', 'Blubber', 'Winnie']]</marvel:bears>
            <marvel:river>#[payload]</marvel:river>
        </marvel:wolverine-chill-out-quick>
    </flow>

    <flow name="iteratorInputOperation">
        <marvel:gambit-charge-items/>
    </flow>
    
    <flow name="optionalStreamInputOperation">
        <marvel:gambit-reluctant-charge/>
    </flow>

    <flow name="optionalIteratorInputOperation">
        <marvel:gambit-reluctant-charge-items/>
    </flow>
    
<!--     Utility sub-flow's -->

    <sub-flow name="consumeStream">
        <test-components:queue-push config-ref="queue" consumeStream="true"/>
        
<!--         Do a second iteration to make sure that operation output is only accounter for once in the statistics -->
        <test-components:queue-push config-ref="queue" consumeStream="true"/>
        <test-components:queue-push config-ref="queue" consumeStream="true"/>
    </sub-flow>

    <sub-flow name="consumeStreams">
        <foreach>
            <test-components:queue-push config-ref="queue" consumeStream="true"/>
        </foreach>
        
<!--         Do a second iteration to make sure that operation output is only accounter for once in the statistics -->
        <foreach>
            <test-components:queue-push config-ref="queue" consumeStream="true"/>
            <test-components:queue-push config-ref="queue" consumeStream="true"/>
        </foreach>
    </sub-flow>
</mule>
