integration/src/test/resources/org/mule/streaming/payload-statistics-source-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:marvel="http://www.mulesoft.org/schema/mule/marvel"
      xmlns:test-components="http://www.mulesoft.org/schema/mule/test-components"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/marvel http://www.mulesoft.org/schema/mule/marvel/current/mule-marvel.xsd
       http://www.mulesoft.org/schema/mule/test-components http://www.mulesoft.org/schema/mule/test-components/current/mule-test-components.xsd">

    <test-components:queue-config name="queue">
        <test-components:connection />
    </test-components:queue-config>
    <test-components:queue-config name="streamSourceComplete">
        <test-components:connection />
    </test-components:queue-config>
    <test-components:queue-config name="iteratorSourceComplete">
        <test-components:connection />
    </test-components:queue-config>
    <test-components:queue-config name="iteratorSourceConsumeOnResponseComplete">
        <test-components:connection />
    </test-components:queue-config>
    
    <flow name="streamSource" initialState="stopped">
        <marvel:magneto-mutant-summon>
            <marvel:response>
                <marvel:body>#[payload]</marvel:body>
            </marvel:response>
        </marvel:magneto-mutant-summon>
    
        <flow-ref name="consumeStream"/>
        
        <test-components:queue-push config-ref="streamSourceComplete"/>
    </flow>

    <flow name="iteratorSource" initialState="stopped">
        <marvel:magneto-brotherhood>
            <marvel:response>
                <marvel:body>#[payload]</marvel:body>
            </marvel:response>
        </marvel:magneto-brotherhood>
    
        <flow-ref name="consumeStreams"/>
        
        <test-components:queue-push config-ref="iteratorSourceComplete"/>
    </flow>
    
    <flow name="iteratorSourceConsumeOnResponse" initialState="stopped">
        <marvel:magneto-brotherhood>
            <marvel:response>
                <marvel:body>#[payload]</marvel:body>
            </marvel:response>
        </marvel:magneto-brotherhood>
    
        <test-components:queue-push config-ref="iteratorSourceConsumeOnResponseComplete"/>
    </flow>

<!--     Utility sub-flow's -->

    <sub-flow name="consumeStream">
        <test-components:queue-push config-ref="queue" consumeStream="true"/>
        
<!--         Do a second iteration to make sure that operation output is only accounter for once in the statistics -->
        <test-components:queue-push config-ref="queue" consumeStream="true"/>
        <test-components:queue-push config-ref="queue" consumeStream="true"/>
    </sub-flow>

    <sub-flow name="consumeStreams">
        <foreach>
            <test-components:queue-push config-ref="queue" consumeStream="true"/>
        </foreach>
        
<!--         Do a second iteration to make sure that operation output is only accounter for once in the statistics -->
        <foreach>
            <test-components:queue-push config-ref="queue" consumeStream="true"/>
            <test-components:queue-push config-ref="queue" consumeStream="true"/>
        </foreach>
    </sub-flow>
</mule>
