schedulers-tests/src/test/resources/org/mule/test/integration/scheduler-config.xml
<?xml version="1.0" encoding="utf-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="echo">
        <set-payload value="foo"/>
    </flow>

    <flow name="pollfoo">
        <scheduler>
            <scheduling-strategy>
                <fixed-frequency frequency="1000" timeUnit="MILLISECONDS"/>
            </scheduling-strategy>
        </scheduler>
        <flow-ref name="echo"/>
        <set-payload value="#[java!org::mule::test::integration::SchedulerTestCase::addFoo(payload)]"/>
    </flow>

    <flow name="pollbar">
        <scheduler>
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </scheduler>
        <set-payload value="bar"/>
        <set-payload value="#[java!org::mule::test::integration::SchedulerTestCase::addBar(payload)]"/>
    </flow>

    <flow name="pollbarNever">
        <scheduler>
            <!-- Will not run unless my test takes 200 days -->
            <scheduling-strategy>
                <fixed-frequency frequency="4" timeUnit="DAYS" startDelay="200"/>
            </scheduling-strategy>
        </scheduler>
        <set-payload value="barNever"/>
        <set-payload value="#[java!org::mule::test::integration::SchedulerTestCase::addBar(payload)]"/>
    </flow>

    <object name="eventWireTrap" class="org.mule.test.integration.SchedulerTestCase$EventWireTrap" />
    <flow name="pollWithRequestContextEvent">
        <scheduler>
            <scheduling-strategy>
                <fixed-frequency frequency="1000" />
            </scheduling-strategy>
        </scheduler>
        <flow-ref name="eventWireTrap" />
        <logger message="hello" />
    </flow>

</mule>
