schedulers-tests/src/test/resources/org/mule/test/integration/scheduler-backpressure-config.xml
<?xml version="1.0" encoding="utf-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="generatesBackpressure" maxConcurrency="1">
        <scheduler>
            <scheduling-strategy>
                <fixed-frequency frequency="1" timeUnit="SECONDS" />
            </scheduling-strategy>
        </scheduler>
        <logger level="WARN" message="running..."/>
        <set-payload value="#[java!org::mule::test::integration::SchedulerBackpressureHandlingTestCase::hangThread(payload)]"/>
    </flow>

</mule>
