integration/src/test/resources/org/mule/test/integration/messaging/meps/pattern_In-Out_Out-Only-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:test-components="http://www.mulesoft.org/schema/mule/test-components"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/test-components http://www.mulesoft.org/schema/mule/test-components/current/mule-test-components.xsd">

    <!--// START SNIPPET: full-config -->
    <description>
        Receives a message from another party and returns a result from the service. Additionally the same result will
        be router via the service outbound routers.
    </description>

    <test-components:queue-config name="received">
        <test-components:connection />
    </test-components:queue-config>

    <test-components:queue-config name="notReceived">
        <test-components:connection />
    </test-components:queue-config>

    <flow name="In-Out_Out-Only-Service">
        <!-- Note: auto formating this file might break the test if the script's indentation is not preserved. -->
        <script:execute engine="groovy">
            <script:code>
                if (vars.foo != null)
                    return "foo header received"
                else
                    return "foo header not received"
            </script:code>
        </script:execute>
        
        <async>
            <choice>
                <when expression="#[payload == 'foo header received']">
                    <test-components:queue-push config-ref="received"/>
                </when>
            </choice>
        </async>
        <async>
            <choice>
                <when expression="#[payload == 'foo header not received']">
                    <test-components:queue-push config-ref="notReceived"/>
                </when>
            </choice>
        </async>
        
        <logger />
    </flow>
    
    <!--// END SNIPPET: full-config -->
</mule>
